{:source-paths
 ["src/cljs"
  "src/shared"]

 :dependencies
 [[io.factorhouse/hsx "0.1.24"]
  ;; Markdown -> hiccup (used for rendering workflow results)
  [io.github.nextjournal/markdown "0.7.225"]]

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"

   ;; Keep it simple: a single bundle.
   :modules {:main {:entries [samuraibff.ui.core]}}

   ;; For local development; hit backend at http://localhost:8000
   :devtools {:after-load samuraibff.ui.core/reload}}}}